.navbar-brand {
	/*background: url(../img/logo.jpg) 0 5px no-repeat;*/
	background-size: 190px;
	width: 202px;
	padding: 10px 0 0 0;
	text-indent: -1000px;
	overflow: hidden;
}
.centered
{
    text-align:center;
}
body {
 margin: 0;
 background: url(../img/3.jpg) 0 5px;

 background-size: 1440px 800px;
 /*background-repeat:no-repeat;*/
 display: compact;
 }



 .container * {
 	opacity: 1;
 }

 .hours {
 	text-align: center;

 }

.sec_name {
	font:"Rockwell";
}

.font_sec{
	font:"Helvetica-Light";
	font-size: 15px;

}

.bkgnd {
	background: url(../img/4.jpg);
	/*background-repeat:no-repeat;*/
	 background-size: 544px 3500px;
}